@charset "utf-8";
section{
    width: 80vw;
}
main h3{
    font-family: var(--font3);
}
section img{
    width: 400px;
    height: auto;
}
/* poster */
.poster_text{
    width:500px;
    
}

@media screen and (max-width:480px){
    section img{
        width: 300px;
    }
}
/* site */
.products img{
    width: 400px; 
    object-fit: contain;
}
.flex{
    display: flex;
    align-items: normal;
}
@media screen and (max-width:480px){
    .products img{
        width: 300px;
    }
}

/* other */
.img1 img{  
    width: 700px;
}
.img2 img{
    width: 400px;
    height: 500px;
    object-fit: contain;
}
.other_text{
    width: 600px;
}

.other1{
    width: 200px;
}
.img3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}
.other3{
    width: 300px;
    height: auto;
    object-fit: contain;
}

@media screen and (max-width:480px){
    .img1 img{
        width: 300px;
    }
    .other3{
        width: 300px;
    }
    .other1{
        width: 300px;
    }
    .img img{
        width: 300px;
        height: auto;
    }
}